#logo-con {
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 999;
	background-color: rgba( 0, 0, 0, 0.25);
	img {
		.fn_center();

		margin-left: -34%;
		width: 200%;
		opacity: 0.0;
		transition: width 1s;
		transition: margin-left 1s, width 1s, opacity 2s;
		top: 20px;
		margin-left: 0;
		width: 90px;
		opacity: 1;
		&.enter { opacity: 1; }
		&.finish {
			top: 20px;
			margin-left: 0;
			width: 90px;
			opacity: 1;
		}
	}
}
