#mainMenu {
	position: absolute;
	background-color: rgba(0, 10, 0, 1);
	width: 100%;
	text-align: center;
	box-shadow: 0px 2px 2px black;
	padding: 5px;
	z-index: 99999;
	top: 0;
	display: none;
}

#mainMenu a {
	font-weight: bold;
	text-decoration: none;
	font-family: Arial;
	font-variant: small-caps;
	margin: 2px;
	display: inline-block;
	border-radius: 1px;
	border: 1px solid rgb(110, 40, 40);
	background-color: rgba(50, 0, 0, .9 );
	color: rgba(250, 0, 0, .9);
	font-weight: bold;
	font-size: 14px;
	cursor: pointer;
	line-height: 20px;
	padding: 0px 8px 2px;
}

body.fullin {
	#mainMenu {
		top: 100px;
		position: fixed;
		z-index: 99999;
	}
}
