#top {
	position: fixed;
	z-index: 999;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
#top-wrap {
	position: relative;
	overflow: hidden;
	height: 100%;
	background-color: black;
}
#mr-center {
	.fn_center();
	background-color: red;
}
