body,
html {
  padding: 0;
  margin: 0;
  width: 100%;
  overflow-x: hidden;
}
#mainContent {
  height: 5000px;
  background-color: #fff;
  position: relative;
}
#wrap1 {
  background-color: #bbb;
  padding: 300px 100px;
}
#box1 {
  width: 500px;
  height: 500px;
  background-color: red;
}
#boxes {
  padding-top: 120px;
}
#boxes .box {
  width: 100px;
  height: 100px;
  margin: 5px;
}
#boxes .box1 {
  background-color: red;
}
#boxes .box2 {
  background-color: green;
}
#boxes .box3 {
  background-color: yellow;
}
.fn_center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@keyframes bounce {
  0% {
    bottom: 30px;
  }
  50% {
    bottom: 20px;
  }
  100% {
    bottom: 30px;
  }
}
.downArrow {
  position: fixed;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  opacity: 0;
  border-style: solid;
  border-width: 40px 40px 0 40px;
  border-color: rgba(255, 255, 255, 0.2) transparent transparent transparent;
  transition: opacity 2s;
  animation-name: bounce;
  animation-timing-function: ease-in-out;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}
@keyframes flash {
  0% {
    background-color: rgba(0, 40, 0, 0.9);
  }
  50% {
    background-color: rgba(0, 70, 0, 0.9);
  }
  100% {
    background-color: rgba(0, 40, 0, 0.9);
  }
}
#logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#btnPricing {
  opacity: 0;
  border: 2px solid #286e28;
  background-color: rgba(0, 50, 0, 0.9);
  color: rgba(0, 250, 0, 0.9);
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  line-height: 20px;
  padding: 3px 8px 2px 8px;
  animation-name: flash;
  animation-timing-function: ease-in-out;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  transition: opacity 3s;
  transition: margin-left 1s;
  margin-left: 5000px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 100%);
}
#btnPricing.shown {
  margin-left: 0;
  border-radius: 3px;
  opacity: 1;
}
.shown {
  opacity: 1;
}
#mainHeader {
  position: fixed;
  width: 100%;
  height: 60px;
  background-color: transparent;
  transform: translateY(-50%);
}
#mainMenu {
  position: absolute;
  background-color: #000a00;
  width: 100%;
  text-align: center;
  box-shadow: 0px 2px 2px black;
  padding: 5px;
  z-index: 99999;
  top: 0;
  display: none;
}
#mainMenu a {
  text-decoration: none;
  font-family: Arial;
  font-variant: small-caps;
  margin: 2px;
  display: inline-block;
  border-radius: 1px;
  border: 1px solid #6e2828;
  background-color: rgba(50, 0, 0, 0.9);
  color: rgba(250, 0, 0, 0.9);
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  line-height: 20px;
  padding: 0px 8px 2px;
}
body.fullin #mainMenu {
  top: 100px;
  position: fixed;
  z-index: 99999;
}
#top {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
#top-wrap {
  position: relative;
  overflow: hidden;
  height: 100%;
  background-color: black;
}
#mr-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: red;
}
#logo-con {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.25);
}
#logo-con img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-left: -34%;
  width: 200%;
  opacity: 0.0;
  transition: width 1s;
  transition: margin-left 1s, width 1s, opacity 2s;
  top: 20px;
  margin-left: 0;
  width: 90px;
  opacity: 1;
}
#logo-con img.enter {
  opacity: 1;
}
#logo-con img.finish {
  top: 20px;
  margin-left: 0;
  width: 90px;
  opacity: 1;
}
